/* /* .row {
    width: 100%;
} */

/* #navbar {
    width: 100%;
}

.jumbotron {
    background: #F9A7B0;
    height: 600px;
    justify-content: center;
    color: #F8F8F8;
    margin: 25px 100px 100px 75px;
} */

/* .row3 {
    background: #F9A7B0;
    width: 100%;
    height: 700px;
    justify-content: left;
    padding: 25px;
    margin: 50px auto;
    color: #F8F8F8;
} */

/* .container-fluid {
    background: #F9A7B0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    color: #F8F8F8;
}

h2 {
    padding-top: 0px;
    padding-left: 25px;
}

p {
    padding-left: 25px;
} */

/* #linkedInButton {
    padding-left: 100px;
}

#githubButton {
    padding-left: 100px;
}

#emailButton {
    padding-left: 100px;
} */

/* #repos {
    margin: 50px;
}

.col1 {
    margin: 50px;
}

.col2 {
    margin: 50px;
}

.col3 {
    margin: 50px;
}

.col4 {
    margin: 50px;
} */ */